html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body
{
	font-family : arial;
	font-size : 14px;
	line-height : 18px;
}
#header
{
	height: 180px;
	background : #499bd7;
}
.containerHeader
{
	margin : 0px  auto;
	width : 940px;
}
#header h1
{
	padding-top : 27px;
	font-size : 30px;
	line-height : 125px;
	text-align : center;
	color : #ffffff;
}
.navigation
{
	background : #d6d6d6;
	height : 60px;
}
.containerNavigation {
	width : 940px;
	margin : 0px  auto;
}
.menu 
{
	padding-top : 24px;
}
li 
{
	display : inline;
}
ul li a
{
	color: #000000;
	padding-right : 16px;
	padding-left : 15px;
	text-decoration : none;
}
.content
{
	margin : 30px 0px;
	
}
.containerContent
{
	margin : 0px  auto;
	width : 940px;
}
.containerContent img 
{	
	margin-right : 15px;
	float : left;
	margin-bottom : 10px
}
p
{
	padding-bottom : 10px;
}
#footer
{
	background : #eeeeee;
	height : 65px;
	font-size : 12px;
	line-height : 14px;
	
}
.containerFooter
{
	width : 940px;
	margin : 0px  auto;
	
	
}
.footerMenu
{
	width : 300px;
	float : left;
	padding-top : 27px;
}
.copyRight 
{
	padding-top : 27px;
	float : right;
	font-size : 12px;
	text-align : center
}

